---
import { Icon } from "astro-icon";
// Import components
import NavMenu from "./NavMenu";
const links = [
  { linkText: "Home", link: "/" },
  { linkText: "About", link: "/about" },
  {
    linkText: "Services",
    link: "/services",
    sublinks: [
      { linkText: "Residential", link: "/services/residential" },
      { linkText: "Commercial", link: "/services/commercial" },
    ],
  },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<header class={(className ? className : "") + " relative"}>
  <div
    class="bg-secondary absolute bottom-0 left-2/3 right-0 top-0 z-10 h-full [clip-path:polygon(0%_0%,100%_0%,100%_100%,3%_100%)] sm:left-1/2 lg:left-1/3 xl:left-1/4"
  >
  </div>
  <div class="flex items-center">
    <!-- <div class="mx-auto flex max-w-screen-2xl items-center justify-between py-6"> -->
    <a class="shrink-0 grow pl-edge pr-10 text-2xl font-bold" href="/"
      >D&D Family Construction</a
    >

    <NavMenu links={links} client:load />
  </div>
</header>
