---
import Layout from "src/layouts/Layout.astro";
---

<Layout
  seo={{
    title: "Our Services | Simply Sprout Starter",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <section class="relative px-edge py-10 lg:py-20">
    <div class="absolute inset-0 -z-10 bg-gray-500"></div>
    <div class="mx-auto max-w-screen-2xl">
      <div class="max-w-2xl text-text-light">
        <h2
          class="p-4 text-lg
          font-bold
           uppercase before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
        >
          D&D Family Construction Services
        </h2>
        <h1
          class="relative z-40 mt-2
           text-6xl font-bold tracking-wide before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-10 before:w-48 before:bg-primary"
        >
          Our Services
        </h1>
        <p class="mt-7 text-lg leading-relaxed">
          With over 15 years of experience D&D Family Construction has the
          skills to work safely and effectively on a wide range of projects.
        </p>
        <a
          class="mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase text-secondary transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
          href="">Request Estimate</a
        >
      </div>
    </div>
  </section>
  <section class="px-edge py-10 lg:py-20">
    <div class="mx-auto max-w-screen-2xl">
      <div
        class="flex flex-col items-center justify-between gap-10 text-center lg:flex-row lg:gap-20 lg:text-left"
      >
        <div class="shrink-0 grow">
          <h6
            class="p-4 text-lg
          font-bold
           uppercase text-text-subheading before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
          >
            What We Do
          </h6>
          <h2
            class="relative z-50 mt-2 text-6xl font-bold
            tracking-wide text-text-heading before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-10 before:w-48 before:bg-primary"
          >
            Our Services
          </h2>
        </div>
        <div>
          <p class="max-w-xl text-text-dark">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla totam
            sequi iste quam quae hic error accusamus explicabo dolorem eos!
            Veritatis quisquam distinctio voluptates eligendi, perferendis
            provident aliquam! Beatae unde accusamus cum iusto ad obcaecati
            voluptates facere asperiores quo exercitationem.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
