---
import Layout from "src/layouts/Layout.astro";
---

<Layout
  seo={{
    title: "Can't find this page | TWR Fitness",
    description: "Looks like we can't find the page you are looking for.",
  }}
>
  <section
    class="relative flex min-h-screen flex-col items-center justify-center px-edge py-10 lg:py-20"
  >
    <div class="absolute inset-0 -z-10 h-full w-full bg-red-500"></div>
    <p
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-[300px] font-black text-primary/50"
    >
      404
    </p>
    <div
      class="relative z-10 mx-auto max-w-screen-2xl text-center text-text-light"
    >
      <h1 class="text-4xl font-black uppercase lg:text-5xl">Page Not Found</h1>
      <p class="mt-7 text-lg">
        Sorry, we can't find this page. The page was either removed, renamed, or
        doesn't exist.
      </p>
      <a
        class="mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase text-secondary transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
        href="/">Go Home</a
      >
    </div>
  </section>
</Layout>
