---
import Testimonials from "@sections/Testimonials.astro";
import CTA from "@sections/CTA.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  seo={{
    title: "About Us | D&D Family Construction",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <section class="relative px-edge py-10 lg:py-20">
    <div class="absolute inset-0 -z-10 bg-gray-500"></div>
    <div class="mx-auto max-w-screen-2xl">
      <div class="max-w-2xl text-text-light">
        <h2
          class="p-4 text-lg
          font-bold
           uppercase before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
        >
          Our Story
        </h2>
        <h1
          class="relative z-40 mt-2
           text-6xl font-bold tracking-wide before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-10 before:w-48 before:bg-primary"
        >
          About Us
        </h1>
        <p class="mt-7 text-lg leading-relaxed">
          With over 15 years of experience D&D Family Construction has the
          skills to work safely and effectively on a wide range of projects.
        </p>
        <a
          class="mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase text-secondary transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
          href="">Request Estimate</a
        >
      </div>
    </div>
  </section>
  <section class="px-edge py-10 lg:py-20">
    <div class="mx-auto max-w-screen-2xl">
      <div
        class="flex flex-col items-center justify-between gap-10 lg:flex-row lg:items-start"
      >
        <div class="w-full">
          <div class="h-[350px] w-full bg-red-500"></div>
          <div class="mt-7 flex justify-around bg-secondary p-7">
            <div class="">
              <p class="text-6xl font-black text-primary">15 Yrs</p>
              <p class="mt-1 text-lg text-text-light">Glazing Experience</p>
            </div>
            <div class="">
              <p class="text-6xl font-black text-primary">500+</p>
              <p class="mt-1 text-lg text-text-light">Successful Projects</p>
            </div>
          </div>
        </div>
        <div class="w-full max-w-2xl text-center lg:text-left">
          <h6
            class="p-4 text-lg
          font-bold
           uppercase text-text-subheading before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
          >
            Who We Are
          </h6>
          <h2 class="text-6xl font-black uppercase text-text-heading">
            We Realize Your Dream & Future Building
          </h2>
          <p class="mt-7 text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi
            exercitationem maxime commodi nostrum, dolorum sequi quisquam
            suscipit quam hic.
          </p>
          <a
            class="mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase text-secondary transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
            href="">Request Estimate</a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="px-edge py-10 lg:py-20">
    <div class="mx-auto max-w-screen-2xl">
      <div
        class="flex flex-col items-center justify-between gap-10 lg:flex-row lg:items-start"
      >
        <div class="w-full max-w-2xl text-center lg:text-left">
          <h2
            class="border-l-8 border-l-primary bg-gray-100 p-7 text-6xl font-black uppercase text-text-heading"
          >
            Meet The Team!
          </h2>
          <p class="mt-7 text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi
            exercitationem maxime commodi nostrum, dolorum sequi quisquam
            suscipit quam hic.
          </p>
          <a
            class="mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase text-secondary transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
            href="">Request Estimate</a
          >
        </div>

        <div class="flex w-full">
          <div
            class="h-[375px] w-full max-w-[655px] bg-red-500 [clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)]"
          >
          </div>
          <div
            class="h-[375px] w-full max-w-[655px] bg-red-500 [clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)]"
          >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Testimonials />
  <CTA />
</Layout>
