---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import OffsetFAQs from "@sections/faq/OffsetFAQs.astro";
import Testimonials from "@sections/Testimonials.astro";
import Services from "@sections/Services.astro";
import Reasons from "@sections/Reasons.astro";
import CTA from "@sections/CTA.astro";
---

<Layout
  seo={{
    title: "D&D Family Construction",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <!-- Hero Section -->
  <section class="relative px-edge py-10 text-text-dark lg:py-20">
    <div
      class="mx-auto flex max-w-screen-2xl flex-col justify-between gap-8 lg:flex-row"
    >
      <div
        class="mx-auto mt-10 max-w-xl shrink-0 grow text-center lg:mt-20 lg:text-left"
      >
        <h1
          class="text-text-subheading p-4
          text-lg
           font-bold uppercase before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
        >
          D&D Family Construction
        </h1>
        <h2
          class="text-text-heading relative z-50 mt-2
           text-6xl font-bold tracking-wide before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-10 before:w-48 before:bg-primary"
        >
          Glass & Metal Construction For Hire
        </h2>
        <p class="mt-7 text-lg leading-relaxed">
          With over 15 years of experience D&D Family Construction has the
          skills to work safely and effectively on a wide range of projects.
        </p>
        <a
          class="text-secondary mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
          href="">Request Estimate</a
        >
      </div>
      <Image
        loading="eager"
        class="shrink grow-0"
        src={import("@imgs/pages/home/hero-slants.png")}
        alt="d&d construction at work"
      />
    </div>
  </section>

  <Services />
  <Reasons />
  <Testimonials />
  <CTA />
  <OffsetFAQs />
</Layout>
