---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import OffsetFAQs from "@sections/faq/OffsetFAQs.astro";
import Testimonials from "@sections/Testimonials.astro";
import Services from "@sections/Services.astro";
---

<Layout
  seo={{
    title: "D&D Family Construction",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <!-- Hero Section -->
  <section class="relative px-edge py-10 text-text-dark lg:py-20">
    <div
      class="mx-auto flex max-w-screen-2xl flex-col justify-between gap-8 lg:flex-row"
    >
      <div
        class="mx-auto mt-10 max-w-xl shrink-0 grow text-center lg:mt-20 lg:text-left"
      >
        <h1 class="text-2xl font-bold uppercase">D&D Family Construction</h1>
        <h2 class="mt-2 text-5xl font-bold">
          Glass & Metal Construction For Hire
        </h2>
        <p class="mt-2 text-lg leading-relaxed">
          With over 15 years of experience D&D Family Construction has the
          skills to work safely and effectively on a wide range of projects.
        </p>
        <a
          class="mt-2 inline-block w-full border-2 border-dark bg-dark px-6 py-4 text-center transition-all duration-300 hover:bg-transparent"
          href="">Request A Quote</a
        >
      </div>
      <Image
        loading="eager"
        class="shrink grow-0"
        src={import("@imgs/pages/home/hero-slants.png")}
        alt="d&d construction at work"
      />
    </div>
  </section>

  <Services />
  <Testimonials />
  <OffsetFAQs />
</Layout>
