<div class="flex w-full flex-row justify-center bg-[#ffffff]">
  <div class="relative h-[6439px] w-[1440px] overflow-hidden bg-white">
    <div class="absolute left-[50px] top-[15px] h-[23px] w-[1340px]">
      <div class="absolute left-0 top-0 h-[23px] w-[312px]">
        <div class="absolute left-0 top-0 h-[23px] w-[150px]">
          <div
            class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
          >
            
          </div>
          <p
            class="font-text-list-small text-text-color absolute left-[30px] top-[3px] text-[length:var(--text-list-small-font-size)] font-[number:var(--text-list-small-font-weight)] leading-[var(--text-list-small-line-height)] tracking-[var(--text-list-small-letter-spacing)] [font-style:var(--text-list-small-font-style)]"
          >
            ( +62 ) 123 456 789
          </p>
        </div>
        <div class="absolute left-[176px] top-0 h-[23px] w-[140px]">
          <div
            class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
          >
            
          </div>
          <div
            class="font-text-list-small text-text-color absolute left-[30px] top-[3px] text-[length:var(--text-list-small-font-size)] font-[number:var(--text-list-small-font-weight)] leading-[var(--text-list-small-line-height)] tracking-[var(--text-list-small-letter-spacing)] [font-style:var(--text-list-small-font-style)]"
          >
            Mail@Pepe.com
          </div>
        </div>
      </div>
      <div class="absolute left-[1214px] top-0 h-[23px] w-[134px]">
        <div
          class="text-secondary absolute left-0 top-0 whitespace-nowrap text-[20px] font-normal leading-[normal] tracking-[0] [font-family:'Font_Awesome_5_Brands-Regular',Helvetica]"
        >
          
        </div>
        <div
          class="text-secondary absolute left-[35px] top-0 whitespace-nowrap text-[20px] font-normal leading-[normal] tracking-[0] [font-family:'Font_Awesome_5_Brands-Regular',Helvetica]"
        >
          
        </div>
        <div
          class="text-secondary absolute left-[70px] top-0 whitespace-nowrap text-[20px] font-normal leading-[normal] tracking-[0] [font-family:'Font_Awesome_5_Brands-Regular',Helvetica]"
        >
          
        </div>
        <div
          class="text-secondary absolute left-[108px] top-0 whitespace-nowrap text-[20px] font-normal leading-[normal] tracking-[0] [font-family:'Font_Awesome_5_Brands-Regular',Helvetica]"
        >
          
        </div>
      </div>
    </div>
    <div class="absolute left-[50px] top-[53px] h-[96px] w-[1390px]">
      <div
        class="absolute left-[228px] top-0 h-[96px] w-[1162px] bg-[url(background.svg)] bg-[100%_100%]"
      >
        <div class="absolute left-[114px] top-[40px] h-[16px] w-[728px]">
          <div class="absolute left-0 top-0 h-[16px] w-[115px]">
            <div
              class="font-text-button absolute left-0 top-0 text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-primary [font-style:var(--text-button-font-style)]"
            >
              HOMEPAGE
            </div>
            <div
              class="absolute left-[99px] top-px whitespace-nowrap text-center text-[13px] font-normal leading-[normal] tracking-[0] text-primary [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
            >
              
            </div>
          </div>
          <div class="absolute left-[141px] top-0 h-[16px] w-[106px]">
            <div
              class="font-text-button absolute left-0 top-0 text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
            >
              ABOUT US
            </div>
            <div
              class="absolute left-[90px] top-px whitespace-nowrap text-center text-[13px] font-normal leading-[normal] tracking-[0] text-white [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
            >
              
            </div>
          </div>
          <div class="absolute left-[273px] top-0 h-[16px] w-[102px]">
            <div
              class="font-text-button absolute left-0 top-0 text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
            >
              SERVICES
            </div>
            <div
              class="absolute left-[86px] top-px whitespace-nowrap text-center text-[13px] font-normal leading-[normal] tracking-[0] text-white [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
            >
              
            </div>
          </div>
          <div class="absolute left-[401px] top-0 h-[16px] w-[106px]">
            <div
              class="font-text-button absolute left-0 top-0 text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
            >
              PROJECTS
            </div>
            <div
              class="absolute left-[90px] top-px whitespace-nowrap text-center text-[13px] font-normal leading-[normal] tracking-[0] text-white [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
            >
              
            </div>
          </div>
          <div
            class="font-text-button absolute left-[533px] top-0 text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
          >
            PORTFOLIO
          </div>
          <div class="absolute left-[653px] top-0 h-[16px] w-[77px]">
            <div
              class="font-text-button absolute left-0 top-0 text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
            >
              PAGES
            </div>
            <div
              class="absolute left-[61px] top-px whitespace-nowrap text-center text-[13px] font-normal leading-[normal] tracking-[0] text-white [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
            >
              
            </div>
          </div>
        </div>
        <button
          class="all-[unset] absolute left-[914px] top-[20px] box-border h-[56px] w-[200px]"
        >
          <div class="relative h-[56px] w-[198px] bg-primary">
            <div
              class="font-text-button text-secondary absolute left-[43px] top-[20px] w-[113px] text-center text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
            >
              GET A QUOTE
            </div>
          </div>
        </button>
      </div>
      <div
        class="absolute left-0 top-[23px] h-[51px] w-[196px] bg-[url(logo-pepe-800x209-1.png)] bg-cover bg-[50%_50%]"
      >
      </div>
    </div>
    <div class="absolute left-[50px] top-[149px] h-[829px] w-[1390px]">
      <div class="absolute left-0 top-0 h-[678px] w-[1390px]">
        <div class="relative h-[678px]">
          <div
            class="absolute left-[574px] top-0 h-[678px] w-[816px] bg-[url(background-overlay.svg)] bg-[100%_100%]"
          >
            <div class="relative left-[414px] top-[256px] h-[115px] w-[102px]">
              <div
                class="absolute left-0 top-0 whitespace-nowrap text-[100px] font-normal leading-[normal] tracking-[0] text-primary [font-family:'Font_Awesome_5_Free-Regular',Helvetica]"
              >
                
              </div>
            </div>
          </div>
          <div class="absolute left-0 top-[100px] h-[428px] w-[657px]">
            <div class="absolute left-0 top-0 h-[21px] w-[298px]">
              <img
                class="absolute left-0 top-[8px] h-[5px] w-[84px]"
                alt="Line"
                src="line-1.svg"
              />
              <div
                class="font-h6 text-subheading-color absolute left-[99px] top-0 text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
              >
                WELCOME TO PEPE
              </div>
            </div>
            <div class="absolute left-0 top-[51px] h-[219px] w-[657px]">
              <div class="relative top-[-5px] h-[224px] w-[655px]">
                <img
                  class="absolute left-0 top-0 h-[35px] w-[198px]"
                  alt="Line"
                  src="line-2-2.svg"
                />
                <div
                  class="font-h1 text-heading-color absolute left-0 top-[5px] w-[655px] text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] [font-style:var(--h1-font-style)]"
                >
                  PROFESSIONAL CONSTRUCTION &amp; BUILDING
                </div>
              </div>
            </div>
            <p
              class="text-text-color font-text-paragraph absolute left-0 top-[300px] w-[655px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <button
              class="all-[unset] absolute left-0 top-[372px] box-border h-[56px] w-[200px]"
            >
              <div class="relative h-[56px] w-[198px] bg-primary">
                <div
                  class="text-secondary font-text-button absolute left-[43px] top-[20px] w-[113px] text-center text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
                >
                  OUR PROJECT
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="absolute left-0 top-[628px] h-[201px] w-[1340px] bg-white">
        <div class="absolute left-[254px] top-[50px] h-[46px] w-[837px]">
          <img
            class="absolute left-0 top-0 h-[46px] w-[147px] object-cover"
            alt="Logoipsum logo"
            src="logoipsum-logo-25-4-1.png"
          />
          <img
            class="absolute left-[225px] top-px h-[44px] w-[154px] object-cover"
            alt="Logoipsum logo"
            src="logoipsum-logo-29-4-1.png"
          />
          <img
            class="absolute left-[450px] top-px h-[44px] w-[161px] object-cover"
            alt="Logoipsum logo"
            src="logoipsum-logo-28-5-1.png"
          />
          <img
            class="absolute left-[683px] top-[6px] h-[34px] w-[154px] object-cover"
            alt="Logoipsum logo"
            src="logoipsum-logo-27-4-1.png"
          />
        </div>
        <div class="absolute left-[623px] top-[126px] h-[25px] w-[95px]">
          <div class="bg-secondary absolute left-0 top-0 h-[25px] w-[25px]">
          </div>
          <div
            class="absolute left-[40px] top-[3px] h-[20px] w-[20px] bg-primary"
          >
          </div>
          <div
            class="absolute left-[75px] top-[3px] h-[20px] w-[20px] bg-primary"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="absolute left-[50px] top-[1028px] h-[607px] w-[1342px]">
      <div class="absolute left-0 top-0 h-[21px] w-[241px]">
        <img
          class="absolute left-0 top-[8px] h-[5px] w-[84px]"
          alt="Line"
          src="image.svg"
        />
        <div
          class="font-h6 text-subheading-color absolute left-[99px] top-0 text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
        >
          WHAT WE DO
        </div>
      </div>
      <div class="absolute left-0 top-[51px] h-[110px] w-[657px]">
        <div class="relative top-[-5px] h-[115px] w-[655px]">
          <img
            class="absolute left-0 top-0 h-[35px] w-[198px]"
            alt="Line"
            src="line-2.svg"
          />
          <div
            class="text-heading-color font-h2 absolute left-0 top-[5px] w-[655px] text-[length:var(--h2-font-size)] font-[number:var(--h2-font-weight)] leading-[var(--h2-line-height)] tracking-[var(--h2-letter-spacing)] [font-style:var(--h2-font-style)]"
          >
            OUR BUILDING SERVICES
          </div>
        </div>
      </div>
      <p
        class="font-text-paragraph text-text-color absolute left-[685px] top-[77px] w-[541px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
      >
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <div
        class="border-border-color absolute left-0 top-[260px] h-[347px] w-[427px] border border-solid"
      >
        <div class="relative left-[29px] top-[29px] h-[287px] w-[375px]">
          <div
            class="font-icon-big absolute left-0 top-0 w-[367px] text-[length:var(--icon-big-font-size)] font-[number:var(--icon-big-font-weight)] leading-[var(--icon-big-line-height)] tracking-[var(--icon-big-letter-spacing)] text-primary [font-style:var(--icon-big-font-style)]"
          >
            
          </div>
          <div
            class="font-h4 text-secondary absolute left-0 top-[82px] whitespace-nowrap text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            ARCHITECTURE
          </div>
          <p
            class="font-text-paragraph text-text-color absolute left-0 top-[142px] w-[367px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
          <div
            class="absolute left-0 top-[235px] whitespace-nowrap text-[45px] font-normal leading-[normal] tracking-[0] text-primary [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
          >
            
          </div>
        </div>
      </div>
      <div
        class="bg-secondary absolute left-[457px] top-[260px] h-[347px] w-[426px]"
      >
        <div class="relative left-[30px] top-[30px] h-[287px] w-[375px]">
          <div
            class="font-icon-big absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-big-font-size)] font-[number:var(--icon-big-font-weight)] leading-[var(--icon-big-line-height)] tracking-[var(--icon-big-letter-spacing)] text-primary [font-style:var(--icon-big-font-style)]"
          >
            
          </div>
          <div
            class="font-h4 absolute left-0 top-[82px] w-[367px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] text-white [font-style:var(--h4-font-style)]"
          >
            BUILDING SERVICES
          </div>
          <p
            class="font-text-paragraph absolute left-0 top-[142px] w-[367px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
          <div
            class="absolute left-0 top-[235px] whitespace-nowrap text-[45px] font-normal leading-[normal] tracking-[0] text-primary [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
          >
            
          </div>
        </div>
      </div>
      <div
        class="border-border-color absolute left-[913px] top-[260px] h-[347px] w-[427px] border border-solid"
      >
        <div class="relative left-[29px] top-[29px] h-[287px] w-[375px]">
          <div
            class="font-icon-big absolute left-0 top-0 w-[367px] text-[length:var(--icon-big-font-size)] font-[number:var(--icon-big-font-weight)] leading-[var(--icon-big-line-height)] tracking-[var(--icon-big-letter-spacing)] text-primary [font-style:var(--icon-big-font-style)]"
          >
            
          </div>
          <div
            class="text-secondary font-h4 absolute left-0 top-[82px] w-[367px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            HEAVY EQUIPMENTS
          </div>
          <p
            class="font-text-paragraph text-text-color absolute left-0 top-[142px] w-[367px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
          <div
            class="absolute left-0 top-[235px] w-[40px] text-[45px] font-normal leading-[normal] tracking-[0] text-primary [font-family:'Font_Awesome_5_Free-Solid',Helvetica]"
          >
            
          </div>
        </div>
      </div>
    </div>
    <div class="absolute left-0 top-[1735px] h-[748px] w-[1440px]">
      <div class="relative h-[748px]">
        <div
          class="bg-secondary absolute left-0 top-[100px] h-[648px] w-[1440px]"
        >
        </div>
        <div
          class="absolute left-[50px] top-0 h-[648px] w-[655px] bg-[#c4c4c4]"
        >
        </div>
        <div class="absolute left-[735px] top-[200px] h-[448px] w-[655px]">
          <div class="absolute left-0 top-0 h-[21px] w-[296px]">
            <img
              class="absolute left-0 top-[8px] h-[5px] w-[84px]"
              alt="Line"
              src="line-1-3.svg"
            />
            <div
              class="text-subheading-color font-h6 absolute left-[99px] top-0 text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
            >
              HEAVY EQUIPMENT
            </div>
          </div>
          <div class="absolute left-0 top-[51px] h-[182px] w-[659px]">
            <div class="absolute left-0 top-[-5px] h-[115px] w-[655px]">
              <img
                class="absolute left-0 top-0 h-[35px] w-[198px]"
                alt="Line"
                src="line-2-5.svg"
              />
              <div
                class="font-h2 absolute left-0 top-[5px] w-[655px] text-[length:var(--h2-font-size)] font-[number:var(--h2-font-weight)] leading-[var(--h2-line-height)] tracking-[var(--h2-letter-spacing)] text-white [font-style:var(--h2-font-style)]"
              >
                PROFESSIONAL HEAVY EQUIPMENT WORKER
              </div>
            </div>
            <p
              class="font-text-paragraph absolute left-0 top-[140px] w-[655px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
          </div>
          <div class="absolute left-0 top-[263px] h-[99px] w-[265px]">
            <div class="absolute left-0 top-0 h-[23px] w-[207px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-paragraph absolute left-[30px] top-px text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
              >
                Certification Worker
              </div>
            </div>
            <div class="absolute left-0 top-[38px] h-[23px] w-[144px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-paragraph absolute left-[30px] top-px text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
              >
                License Card
              </div>
            </div>
            <div class="absolute left-0 top-[76px] h-[23px] w-[269px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-paragraph absolute left-[30px] top-px text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
              >
                5+ Years Experience Worker
              </div>
            </div>
          </div>
          <button
            class="all-[unset] absolute left-0 top-[392px] box-border h-[56px] w-[200px]"
          >
            <div class="relative h-[56px] w-[198px] bg-primary">
              <div
                class="font-text-button text-secondary absolute left-[43px] top-[20px] w-[113px] text-center text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
              >
                OUR PROJECT
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="absolute left-[50px] top-[2583px] h-[316px] w-[1340px]">
      <div
        class="border-border-color absolute left-0 top-0 h-[316px] w-[427px] border border-solid"
      >
        <div class="relative left-[29px] top-[29px] h-[256px] w-[373px]">
          <div
            class="font-h1 border-subheading-color absolute -left-px -top-px w-[367px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-transparent [font-style:var(--h1-font-style)] [-webkit-text-stroke:1px_#b2b1b9]"
          >
            01
          </div>
          <div
            class="text-secondary font-h4 absolute left-0 top-[103px] w-[367px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            GET CONSULTATION WITH US
          </div>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[193px] w-[367px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div
        class="border-border-color absolute left-[457px] top-0 h-[316px] w-[427px] border border-solid"
      >
        <div class="relative left-[29px] top-[29px] h-[256px] w-[373px]">
          <div
            class="font-h1 border-subheading-color absolute -left-px -top-px w-[367px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-transparent [font-style:var(--h1-font-style)] [-webkit-text-stroke:1px_#b2b1b9]"
          >
            02
          </div>
          <p
            class="text-secondary font-h4 absolute left-0 top-[103px] w-[367px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            FORMAL MEETING WITH OUR TEAM
          </p>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[193px] w-[367px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div
        class="border-border-color absolute left-[914px] top-0 h-[316px] w-[426px] border border-solid"
      >
        <div class="relative left-[29px] top-[29px] h-[256px] w-[372px]">
          <div
            class="font-h1 border-subheading-color absolute -left-px -top-px w-[366px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-transparent [font-style:var(--h1-font-style)] [-webkit-text-stroke:1px_#b2b1b9]"
          >
            03
          </div>
          <p
            class="font-h4 text-secondary absolute left-0 top-[103px] w-[366px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            WE WORK FOR YOUR PROJECTS
          </p>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[193px] w-[366px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
    </div>
    <div class="absolute left-[50px] top-[2999px] h-[533px] w-[1340px]">
      <div class="absolute left-[685px] top-0 h-[533px] w-[655px]">
        <div class="h-[533px] bg-[#c4c4c4]">
          <div class="relative left-[278px] top-[220px] h-[94px] w-[102px]">
            <div
              class="absolute left-0 top-0 w-[100px] whitespace-nowrap text-[100px] font-normal leading-[normal] tracking-[0] text-primary [font-family:'Font_Awesome_5_Free-Regular',Helvetica]"
            >
              
            </div>
          </div>
        </div>
      </div>
      <div class="absolute left-0 top-0 h-[533px] w-[657px]">
        <div class="absolute left-0 top-0 h-[225px] w-[656px]">
          <div
            class="bg-white-smoke absolute left-[10px] top-0 h-[225px] w-[644px]"
          >
            <p
              class="font-h2 text-heading-color absolute left-[30px] top-[30px] w-[584px] text-[length:var(--h2-font-size)] font-[number:var(--h2-font-weight)] leading-[var(--h2-line-height)] tracking-[var(--h2-letter-spacing)] [font-style:var(--h2-font-style)]"
            >
              WE REALIZE YOUR DREAM &amp; FUTURE BUILDING
            </p>
          </div>
          <img
            class="absolute left-0 top-0 h-[225px] w-[10px]"
            alt="Line"
            src="line-3.svg"
          />
        </div>
        <p
          class="font-text-paragraph text-heading-color absolute left-0 top-[255px] w-[655px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
        >
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
        <div class="absolute left-0 top-[348px] h-[99px] w-[234px]">
          <div class="absolute left-0 top-0 h-[23px] w-[166px]">
            <div
              class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
            >
              
            </div>
            <div
              class="font-text-paragraph text-text-color absolute left-[30px] top-px text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Hotels Building
            </div>
          </div>
          <div class="absolute left-0 top-[38px] h-[23px] w-[214px]">
            <div
              class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
            >
              
            </div>
            <div
              class="font-text-paragraph text-text-color absolute left-[30px] top-px text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Apartments Building
            </div>
          </div>
          <div class="absolute left-0 top-[76px] h-[23px] w-[238px]">
            <div
              class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
            >
              
            </div>
            <div
              class="font-text-paragraph text-text-color absolute left-[30px] top-px text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Future &amp; Modern House
            </div>
          </div>
        </div>
        <button
          class="all-[unset] absolute left-0 top-[477px] box-border h-[56px] w-[200px]"
        >
          <div class="relative h-[56px] w-[198px] bg-primary">
            <div
              class="font-text-button text-secondary absolute left-[43px] top-[20px] w-[113px] text-center text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
            >
              OUR PROJECT
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="absolute left-[-120px] top-[3632px] h-[250px] w-[1680px]">
      <div class="relative h-[250px] w-[1682px]">
        <div class="absolute left-0 top-0 h-[250px] w-[314px]">
          <div class="relative h-[250px] w-[312px] bg-[#c4c4c4]">
            <div
              class="font-h4 absolute left-[30px] top-[160px] w-[252px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] text-white [font-style:var(--h4-font-style)]"
            >
              INDUSTRIAL BUILDING
            </div>
          </div>
        </div>
        <div class="absolute left-[342px] top-0 h-[250px] w-[314px]">
          <div class="relative h-[250px] w-[312px] bg-[#c4c4c4]">
            <div
              class="font-h4 absolute left-[30px] top-[160px] w-[252px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] text-white [font-style:var(--h4-font-style)]"
            >
              MODERN HOTEL BUILDING
            </div>
          </div>
        </div>
        <div class="absolute left-[684px] top-0 h-[250px] w-[314px]">
          <div class="relative h-[250px] w-[312px] bg-[#c4c4c4]">
            <div
              class="font-h4 absolute left-[30px] top-[160px] w-[252px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] text-white [font-style:var(--h4-font-style)]"
            >
              APARTMENT BUILDING
            </div>
          </div>
        </div>
        <div class="absolute left-[1026px] top-0 h-[250px] w-[314px]">
          <div class="relative h-[250px] w-[312px] bg-[#c4c4c4]">
            <div
              class="font-h4 absolute left-[30px] top-[160px] w-[252px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] text-white [font-style:var(--h4-font-style)]"
            >
              INDUSTRIAL BUILDING
            </div>
          </div>
        </div>
        <div class="absolute left-[1368px] top-0 h-[250px] w-[314px]">
          <div class="relative h-[250px] w-[312px] bg-[#c4c4c4]">
            <div
              class="font-h4 absolute left-[30px] top-[160px] w-[252px] text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] text-white [font-style:var(--h4-font-style)]"
            >
              MODERN HOTEL BUILDING
            </div>
          </div>
        </div>
        <div class="absolute left-[170px] top-[100px] h-[50px] w-[1340px]">
          <div class="absolute left-0 top-0 h-[50px] w-[52px]">
            <div class="relative h-[50px] w-[50px] rounded-[25px] bg-white">
              <div
                class="font-icon-list text-text-color absolute left-[19px] top-[13px] whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
            </div>
          </div>
          <div class="absolute left-[1290px] top-0 h-[50px] w-[52px]">
            <div class="relative h-[50px] w-[50px] rounded-[25px] bg-white">
              <div
                class="font-icon-list text-text-color absolute left-[19px] top-[13px] whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute left-[50px] top-[3982px] h-[864px] w-[1342px]">
      <div class="absolute left-[583px] top-0 h-[21px] w-[176px]">
        <div
          class="font-h6 text-subheading-color absolute left-0 top-0 text-center text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
        >
          BUSINESS VALUE
        </div>
      </div>
      <div class="absolute left-[450px] top-[51px] h-[55px] w-[441px]">
        <div class="relative top-[-5px] h-[60px] w-[439px]">
          <img
            class="absolute left-[121px] top-0 h-[35px] w-[198px]"
            alt="Line"
            src="line-2-3.svg"
          />
          <div
            class="font-h2 text-heading-color absolute left-0 top-[5px] text-center text-[length:var(--h2-font-size)] font-[number:var(--h2-font-weight)] leading-[var(--h2-line-height)] tracking-[var(--h2-letter-spacing)] [font-style:var(--h2-font-style)]"
          >
            WHY CHOICE US
          </div>
        </div>
      </div>
      <p
        class="text-text-color font-text-paragraph absolute left-[342px] top-[136px] w-[656px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <div class="absolute left-0 top-[208px] h-[303px] w-[427px]">
        <div class="relative h-[303px] w-[431px]">
          <div class="absolute left-0 top-0 h-[120px] w-[429px]">
            <div class="relative h-[120px] w-[427px]">
              <div
                class="bg-secondary absolute left-[153px] top-0 h-[120px] w-[120px] rounded-[60px]"
              >
              </div>
              <div
                class="font-h1 absolute left-0 top-[24px] w-[427px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-primary [font-style:var(--h1-font-style)]"
              >
                01
              </div>
            </div>
          </div>
          <p
            class="font-h4 text-secondary absolute left-0 top-[150px] w-[427px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            HAVE MANY YEARS OF EXPERIENCE
          </p>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[240px] w-[427px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="absolute left-[457px] top-[208px] h-[303px] w-[427px]">
        <div class="relative h-[303px] w-[431px]">
          <div class="absolute left-0 top-0 h-[120px] w-[429px]">
            <div class="relative h-[120px] w-[427px]">
              <div
                class="bg-secondary absolute left-[153px] top-0 h-[120px] w-[120px] rounded-[60px]"
              >
              </div>
              <div
                class="font-h1 absolute left-0 top-[24px] w-[427px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-primary [font-style:var(--h1-font-style)]"
              >
                02
              </div>
            </div>
          </div>
          <p
            class="font-h4 text-secondary absolute left-0 top-[150px] w-[427px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            MORE THAN 50+ COMPANY PARTNER
          </p>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[240px] w-[427px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="absolute left-[914px] top-[208px] h-[303px] w-[426px]">
        <div class="relative h-[303px] w-[430px]">
          <div class="absolute left-0 top-0 h-[120px] w-[428px]">
            <div class="relative h-[120px] w-[426px]">
              <div
                class="bg-secondary absolute left-[153px] top-0 h-[120px] w-[120px] rounded-[60px]"
              >
              </div>
              <div
                class="font-h1 absolute left-0 top-[24px] w-[426px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-primary [font-style:var(--h1-font-style)]"
              >
                03
              </div>
            </div>
          </div>
          <div
            class="font-h4 text-secondary absolute left-0 top-[150px] w-[426px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            500+ PROJECTS SUCCES BUILDING
          </div>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[240px] w-[426px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="absolute left-0 top-[561px] h-[303px] w-[427px]">
        <div class="relative h-[303px] w-[431px]">
          <div class="absolute left-0 top-0 h-[120px] w-[429px]">
            <div class="relative h-[120px] w-[427px]">
              <div
                class="bg-secondary absolute left-[153px] top-0 h-[120px] w-[120px] rounded-[60px]"
              >
              </div>
              <div
                class="font-h1 absolute left-0 top-[24px] w-[427px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-primary [font-style:var(--h1-font-style)]"
              >
                04
              </div>
            </div>
          </div>
          <p
            class="font-h4 text-secondary absolute left-0 top-[150px] w-[427px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            HAVE MANY YEARS OF EXPERIENCE
          </p>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[240px] w-[427px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="absolute left-[457px] top-[561px] h-[303px] w-[427px]">
        <div class="relative h-[303px] w-[431px]">
          <div class="absolute left-0 top-0 h-[120px] w-[429px]">
            <div class="relative h-[120px] w-[427px]">
              <div
                class="bg-secondary absolute left-[153px] top-0 h-[120px] w-[120px] rounded-[60px]"
              >
              </div>
              <div
                class="font-h1 absolute left-0 top-[24px] w-[427px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-primary [font-style:var(--h1-font-style)]"
              >
                05
              </div>
            </div>
          </div>
          <p
            class="font-h4 text-secondary absolute left-0 top-[150px] w-[427px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            MORE THAN 50+ COMPANY PARTNER
          </p>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[240px] w-[427px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
      <div class="absolute left-[914px] top-[561px] h-[303px] w-[426px]">
        <div class="relative h-[303px] w-[430px]">
          <div class="absolute left-0 top-0 h-[120px] w-[428px]">
            <div class="relative h-[120px] w-[426px]">
              <div
                class="bg-secondary absolute left-[153px] top-0 h-[120px] w-[120px] rounded-[60px]"
              >
              </div>
              <div
                class="font-h1 absolute left-0 top-[24px] w-[426px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-primary [font-style:var(--h1-font-style)]"
              >
                06
              </div>
            </div>
          </div>
          <div
            class="font-h4 text-secondary absolute left-0 top-[150px] w-[426px] text-center text-[length:var(--h4-font-size)] font-[number:var(--h4-font-weight)] leading-[var(--h4-line-height)] tracking-[var(--h4-letter-spacing)] [font-style:var(--h4-font-style)]"
          >
            500+ PROJECTS SUCCES BUILDING
          </div>
          <p
            class="text-text-color font-text-paragraph absolute left-0 top-[240px] w-[426px] text-center text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
      </div>
    </div>
    <div class="absolute left-[50px] top-[4946px] h-[432px] w-[1342px]">
      <div class="bg-secondary relative h-[432px] w-[1340px]">
        <p
          class="font-h1 absolute left-[342px] top-[100px] w-[656px] text-center text-[length:var(--h1-font-size)] font-[number:var(--h1-font-weight)] leading-[var(--h1-line-height)] tracking-[var(--h1-letter-spacing)] text-white [font-style:var(--h1-font-style)]"
        >
          INTERESTED TO WORK WITH US
        </p>
        <button
          class="all-[unset] absolute left-[571px] top-[276px] box-border h-[56px] w-[200px]"
        >
          <div class="relative h-[56px] w-[198px] bg-primary">
            <div
              class="font-text-button text-secondary absolute left-[43px] top-[20px] w-[113px] text-center text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
            >
              OUR PROJECT
            </div>
          </div>
        </button>
      </div>
    </div>
    <div class="absolute left-[50px] top-[5478px] h-[394px] w-[1342px]">
      <div class="absolute left-0 top-0 h-[21px] w-[241px]">
        <img
          class="absolute left-0 top-[8px] h-[5px] w-[84px]"
          alt="Line"
          src="line-1-2.svg"
        />
        <div
          class="font-h6 text-subheading-color absolute left-[99px] top-0 text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
        >
          WHAT WE DO
        </div>
      </div>
      <div class="absolute left-0 top-[51px] h-[110px] w-[657px]">
        <div class="relative top-[-5px] h-[115px] w-[655px]">
          <img
            class="absolute left-0 top-0 h-[35px] w-[198px]"
            alt="Line"
            src="line-2-4.svg"
          />
          <p
            class="text-heading-color font-h2 absolute left-0 top-[5px] w-[655px] text-[length:var(--h2-font-size)] font-[number:var(--h2-font-weight)] leading-[var(--h2-line-height)] tracking-[var(--h2-letter-spacing)] [font-style:var(--h2-font-style)]"
          >
            WHAT THEY SAYS FOR OUR SERVICES
          </p>
        </div>
      </div>
      <p
        class="font-text-paragraph text-text-color absolute left-[685px] top-[77px] w-[541px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
      >
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <div class="absolute left-0 top-[191px] h-[203px] w-[1340px]">
        <div class="absolute left-0 top-0 h-[203px] w-[429px]">
          <div
            class="border-border-color relative h-[203px] w-[427px] border border-solid"
          >
            <p
              class="text-text-color font-text-paragraph absolute left-[29px] top-[29px] w-[367px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <div class="absolute left-[29px] top-[122px] h-[50px] w-[371px]">
              <div class="absolute left-0 top-0 h-[50px] w-[50px] bg-[#c4c4c4]">
              </div>
              <div
                class="font-h6 text-heading-color absolute left-[65px] top-[4px] w-[302px] text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
              >
                JOHN DE
              </div>
              <div
                class="font-text-button text-subheading-color absolute left-[65px] top-[30px] w-[302px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
              >
                DIRECTOR
              </div>
            </div>
          </div>
        </div>
        <div class="absolute left-[457px] top-0 h-[203px] w-[429px]">
          <div
            class="border-border-color relative h-[203px] w-[427px] border border-solid"
          >
            <p
              class="text-text-color font-text-paragraph absolute left-[29px] top-[29px] w-[367px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <div class="absolute left-[29px] top-[122px] h-[50px] w-[371px]">
              <div class="absolute left-0 top-0 h-[50px] w-[50px] bg-[#c4c4c4]">
              </div>
              <div
                class="font-h6 text-heading-color absolute left-[65px] top-[4px] w-[302px] text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
              >
                JOHN DE
              </div>
              <div
                class="font-text-button text-subheading-color absolute left-[65px] top-[30px] w-[302px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
              >
                DIRECTOR
              </div>
            </div>
          </div>
        </div>
        <div class="absolute left-[914px] top-0 h-[203px] w-[428px]">
          <div
            class="border-border-color relative h-[203px] w-[426px] border border-solid"
          >
            <p
              class="text-text-color font-text-paragraph absolute left-[29px] top-[29px] w-[366px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] [font-style:var(--text-paragraph-font-style)]"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
            <div class="absolute left-[29px] top-[122px] h-[50px] w-[370px]">
              <div class="absolute left-0 top-0 h-[50px] w-[50px] bg-[#c4c4c4]">
              </div>
              <div
                class="font-h6 text-heading-color absolute left-[65px] top-[4px] w-[301px] text-[length:var(--h6-font-size)] font-[number:var(--h6-font-weight)] leading-[var(--h6-line-height)] tracking-[var(--h6-letter-spacing)] [font-style:var(--h6-font-style)]"
              >
                JOHN DE
              </div>
              <div
                class="font-text-button text-subheading-color absolute left-[65px] top-[30px] w-[301px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
              >
                DIRECTOR
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer
      class="absolute left-0 top-[5971px] h-[468px] w-[1440px] bg-transparent"
    >
      <div class="relative h-[468px] w-[1440px]">
        <div class="bg-secondary absolute left-0 top-0 h-[468px] w-[1440px]">
          <img
            class="absolute left-0 top-[-10px] h-[10px] w-[1440px]"
            alt="Line"
            src="line-4.svg"
          />
        </div>
        <div class="absolute left-[50px] top-[100px] h-[145px] w-[429px]">
          <div
            class="absolute left-0 top-0 h-[52px] w-[198px] bg-[url(logo-pepe-white-1.png)] bg-cover bg-[50%_50%]"
          >
          </div>
          <p
            class="font-text-paragraph absolute left-0 top-[82px] w-[427px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
        </div>
        <div class="absolute left-[621px] top-[100px] h-[191px] w-[153px]">
          <div
            class="font-h5 absolute left-0 top-0 whitespace-nowrap text-[length:var(--h5-font-size)] font-[number:var(--h5-font-weight)] leading-[var(--h5-line-height)] tracking-[var(--h5-letter-spacing)] text-white [font-style:var(--h5-font-style)]"
          >
            NAVIGATION
          </div>
          <div class="absolute left-0 top-[54px] h-[137px] w-[139px]">
            <div class="absolute left-0 top-0 h-[23px] w-[109px]">
              <div class="relative h-[23px] w-[113px]">
                <div
                  class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
                >
                  
                </div>
                <div
                  class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
                >
                  HOMEPAGE
                </div>
              </div>
            </div>
            <div class="absolute left-0 top-[38px] h-[23px] w-[104px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                ABOUT US
              </div>
            </div>
            <div class="absolute left-0 top-[76px] h-[23px] w-[139px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                OUR SERVICES
              </div>
            </div>
            <div class="absolute left-0 top-[114px] h-[23px] w-[143px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                OUR PROJECTS
              </div>
            </div>
          </div>
        </div>
        <div class="absolute left-[849px] top-[100px] h-[191px] w-[201px]">
          <div
            class="font-h5 absolute left-0 top-0 whitespace-nowrap text-[length:var(--h5-font-size)] font-[number:var(--h5-font-weight)] leading-[var(--h5-line-height)] tracking-[var(--h5-letter-spacing)] text-white [font-style:var(--h5-font-style)]"
          >
            OUR SERVICES
          </div>
          <div class="absolute left-0 top-[54px] h-[137px] w-[199px]">
            <div class="absolute left-0 top-0 h-[23px] w-[140px]">
              <div class="relative h-[23px] w-[144px]">
                <div
                  class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
                >
                  
                </div>
                <div
                  class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
                >
                  ARCHITECTURE
                </div>
              </div>
            </div>
            <div class="absolute left-0 top-[38px] h-[23px] w-[161px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                HOUSE BUILDING
              </div>
            </div>
            <div class="absolute left-0 top-[76px] h-[23px] w-[168px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                HOTELS BUILDING
              </div>
            </div>
            <div class="absolute left-0 top-[114px] h-[23px] w-[203px]">
              <div
                class="font-icon-list absolute left-0 top-0 whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[20px] top-[4px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                APARTMENT BUILDING
              </div>
            </div>
          </div>
        </div>
        <div class="absolute left-[1078px] top-[100px] h-[247px] w-[316px]">
          <div
            class="font-h5 absolute left-0 top-0 whitespace-nowrap text-[length:var(--h5-font-size)] font-[number:var(--h5-font-weight)] leading-[var(--h5-line-height)] tracking-[var(--h5-letter-spacing)] text-white [font-style:var(--h5-font-style)]"
          >
            SUBSCRIBE NEWSLATER
          </div>
          <p
            class="font-text-paragraph absolute left-0 top-[54px] w-[312px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
          >
            Subscribe Our Newslater to get update &amp; big discount Services
          </p>
          <div class="absolute left-0 top-[116px] h-[131px] w-[312px]">
            <div class="absolute left-0 top-0 h-[60px] w-[314px]">
              <div class="bg-form-column-color relative h-[60px] w-[312px]">
                <img
                  class="absolute left-0 top-[57px] h-[3px] w-[312px]"
                  alt="Line"
                  src="line-5.svg"
                />
                <div
                  class="font-text-paragraph absolute left-[15px] top-[19px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
                >
                  Email Address
                </div>
              </div>
            </div>
            <button
              class="all-[unset] absolute left-0 top-[75px] box-border h-[56px] w-[200px]"
            >
              <div class="relative h-[56px] w-[198px] bg-primary">
                <div
                  class="font-text-button text-secondary absolute left-[43px] top-[20px] w-[113px] text-center text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] [font-style:var(--text-button-font-style)]"
                >
                  SUBSCRIBE
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="absolute left-[50px] top-[399px] h-[45px] w-[1342px]">
          <div class="relative h-[45px] w-[1344px]">
            <p
              class="font-text-paragraph absolute left-0 top-[24px] text-[length:var(--text-paragraph-font-size)] font-[number:var(--text-paragraph-font-weight)] leading-[var(--text-paragraph-line-height)] tracking-[var(--text-paragraph-letter-spacing)] text-white [font-style:var(--text-paragraph-font-style)]"
            >
              Allright Reserved | Pepe Construction
            </p>
            <div class="absolute left-0 top-0 h-[44px] w-[1344px]">
              <img
                class="absolute -top-px left-0 h-px w-[1340px] object-cover"
                alt="Line"
                src="line-6.svg"
              />
              <div
                class="font-icon-list absolute left-[1204px] top-[21px] whitespace-nowrap text-[length:var(--icon-list-font-size)] font-[number:var(--icon-list-font-weight)] leading-[var(--icon-list-line-height)] tracking-[var(--icon-list-letter-spacing)] text-primary [font-style:var(--icon-list-font-style)]"
              >
                
              </div>
              <div
                class="font-text-button absolute left-[1234px] top-[25px] text-[length:var(--text-button-font-size)] font-[number:var(--text-button-font-weight)] leading-[var(--text-button-line-height)] tracking-[var(--text-button-letter-spacing)] text-white [font-style:var(--text-button-font-style)]"
              >
                BACK TO TOP
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
