<section class="px-edge py-10 lg:py-20">
  <div class="bg-secondary px-7 py-10 lg:py-20">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-black uppercase text-text-light lg:text-6xl">
        Interested In Working With Us?
      </h2>
      <a
        class="text-secondary mt-7 inline-block w-full -skew-x-3 border-2 border-primary bg-primary px-10 py-4 text-center font-semibold uppercase transition-all duration-300 hover:bg-transparent hover:text-primary lg:w-auto lg:text-left"
        href="">Request Your Estimate</a
      >
    </div>
  </div>
</section>
