---
import { Image } from "astro:assets";
---

<section class="my-10 bg-secondary px-edge py-10 lg:my-20 lg:py-20">
  <div class="mx-auto max-w-screen-2xl">
    <div class="flex flex-col items-center justify-between gap-7 lg:flex-row">
      <!-- Image -->
      <div
        class="-mt-20 h-[655px] w-full max-w-[655px] [clip-path:polygon(10%_0%,100%_0%,90%_100%,0%_100%)] lg:-mt-40"
      >
        <Image
          src={import("@imgs/pages/home/installing-glass.jpg")}
          alt="replacing glass"
        />
      </div>
      <!-- Content -->
      <div class="w-full max-w-2xl">
        <h6
          class="p-4 text-lg
          font-bold
           uppercase text-white/70 before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
        >
          Why Us?
        </h6>
        <h2
          class="relative z-50 mt-2 text-5xl font-bold
            tracking-wide text-text-light
            before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-6 before:w-48 before:bg-primary"
        >
          Saftey, Quality, and Experience
        </h2>
        <p class="mt-7 text-lg text-text-light">
          We are a glazing company based in Philedelphia that serves the
          tri-state area. We focus on providing great service and great work.
        </p>
      </div>
    </div>
  </div>
</section>
