---

---

<section class="bg-secondary my-10 px-edge py-10 lg:my-20 lg:py-20">
  <div class="mx-auto max-w-screen-2xl">
    <div class="flex justify-between gap-7">
      <!-- Image -->
      <div class="-mt-40 h-[655px] w-[655px] bg-red-500"></div>
      <!-- Content -->
      <div class="w-full max-w-2xl">
        <h6
          class="p-4 text-lg
          font-bold
           uppercase text-white/70 before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
        >
          Why Us?
        </h6>
        <h2
          class="relative z-50 mt-2 text-5xl font-bold
            tracking-wide text-text-light
            before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-6 before:w-48 before:bg-primary"
        >
          Lorem ipsum dolor sit amet.
        </h2>
        <p class="mt-7 text-text-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fuga
          iusto numquam esse veniam dolor, soluta minus deleniti aliquid labore?
        </p>
      </div>
    </div>
  </div>
</section>
