---
import Icon from "astro-icon";
import { Image } from "astro:assets";

// testimonial images
const rafhiaImg = await import("@imgs/testimonials/rafhia-foster.jpg");
const testimonials = [
  {
    name: "Rafhia Foster",
    img: rafhiaImg,
    review:
      "Local business that provides amazing quality work for both large and small residential and commercial projects. You won't be disappointed!",
  },
];
---

<section class="px-edge py-10 lg:py-20">
  <div class="mx-auto max-w-screen-2xl">
    <div
      class="flex flex-col items-center justify-between gap-10 text-center lg:flex-row lg:gap-20 lg:text-left"
    >
      <div class="max-w-2xl shrink-0 grow">
        <div class="flex items-center justify-center gap-2 lg:justify-start">
          <h6
            class="text-text-subheading max-w-[175px] grow p-4 text-lg
           font-bold uppercase before:relative before:right-2
           before:inline-block before:h-1 before:w-1/6 before:bg-primary
           before:align-middle"
          >
            What We Do
          </h6>
          <div class="flex">
            {
              [...Array(5)].map(() => (
                <Icon name="mdi:star" size={30} class="text-yellow-500" />
              ))
            }
          </div>
        </div>

        <h2 class="z-50 mt-2 text-5xl font-bold
            tracking-wide">
          <span
            class="relative before:absolute
           before:left-0 before:top-0 before:-z-10 before:inline-block before:h-5 before:w-32 before:bg-primary"
            >D&D</span
          > Family Construction Happy Clients
        </h2>
      </div>
      <div>
        <p class="max-w-xl text-text-dark">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi
          reiciendis perspiciatis eveniet qui aliquam deleniti deserunt fuga
          molestias sint.
        </p>
      </div>
    </div>

    <div class="mt-10">
      {
        testimonials.map((testimonial) => (
          // Testimonial card
          <div class="mx-auto w-full max-w-2xl -skew-x-12 bg-primary px-12 py-10 shadow-md  transition-all duration-500 hover:translate-y-3 lg:px-16 lg:py-14">
            <div class="skew-x-12">
              <div class="float-left mr-6 [shape-outside:circle()]">
                <Image
                  width={112}
                  class="h-28 w-28 rounded-full"
                  src={testimonial.img.default}
                  alt={testimonial.name}
                />
              </div>
              <div class="">
                <p class="text-2xl font-bold">{testimonial.name}</p>
                <p class="mt-2">{testimonial.review}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
